/* HIDE RADIO */
.stars {
  cursor: pointer;
  height: 25px;
}

/* CHECKED STYLES */
.checked-star {
    background-color: gold;
}

/*paragraph input on forms*/
textarea.paragraph {
width: 100%;
height: 150px;
}